@if(!isMobile) {
<div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="">
        <tr class="">
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Credits(L-T-P-C)</th>
          <th>Intructor</th>
          <th>Slot</th>
          <th>Prerequisite met?</th>
          <th>Prerequisite Waiver</th>
        </tr>
      </thead>
      <tbody>
        @for (stdCourse of studentCourses; track $index) {
        <tr
          [ngClass]="{
            'table-info': stdCourse.isCompleted,
            'table-white': !stdCourse.isCompleted
          }"
        >
          <td>
            @if(stdCourse.isCompleted){
            <button
              type="button"
              class="btn btn-outline-primary me-2"
              ngbTooltip="Course already completed"
              tooltipClass="tooltip-styles"
              [openDelay]="300"
              [closeDelay]="400"
              (click)="openCourseDetail(stdCourse.detail)"
            >
              {{ stdCourse.detail.code }}
            </button>
            }@else {
            <button
              type="button"
              class="btn btn-outline-dark me-2"
              (click)="openCourseDetail(stdCourse.detail)"
            >
              {{ stdCourse.detail.code }}
            </button>
            }
          </td>
          <td>
            <span class="text-truncate">{{ stdCourse.detail.name }}</span>
          </td>
          <td>
            <span class="fw-bold">{{
              stdCourse.detail.credits | creditsToString
            }}</span>
          </td>
          <td>{{ stdCourse.detail.instructor }}</td>
          <td>{{ stdCourse.detail.slot }}</td>
          <td>
            @if(stdCourse.isPrerequisiteMet){
            <span class="badge bg-primary px-3 text-white"> YES</span>
            }@else {
            <span class="badge bg-warning px-3 text-white"> NO</span>
            }
          </td>
          <td>
            @if(!stdCourse.isWaiverApplied && stdCourse.isPrerequisiteMet ){
            <button
              type="button"
              class="btn btn-primary p1-2 text-white px-4"
              (click)="openApplyPreWaiver(stdCourse)"
            >
              Apply
            </button>
            }
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
} @if(isMobile) {
<div>
  @for (stdCourse of studentCourses; track $index) {

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton style="color: black">
          @if(stdCourse.isCompleted){
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            ngbTooltip="Course already completed"
            tooltipClass="tooltip-styles"
            [openDelay]="300"
            [closeDelay]="400"
            (click)="openCourseDetail(stdCourse.detail)"
          >
            {{ stdCourse.detail.code }}
          </button>
          }@else {
          <button
            type="button"
            class="btn btn-outline-dark me-2"
            (click)="openCourseDetail(stdCourse.detail)"
          >
            {{ stdCourse.detail.code }}
          </button>
          }

          <span>{{ stdCourse.detail.name }}</span>
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div
              class="card"
              style="padding: 10px; border-radius: 5px; color: black"
            >
              <table>
                <tr></tr>
                <tr>
                  <td>Credits</td>
                  <td>{{ stdCourse.detail.credits | creditsToString }}</td>
                </tr>
                <tr>
                  <td>instructor</td>
                  <td>{{ stdCourse.detail.instructor }}</td>
                </tr>
                <tr>
                  <td>Slot</td>
                  <td>{{ stdCourse.detail.slot }}</td>
                </tr>
                <tr>
                  <td>Prerequisite met?</td>
                  <td>
                    @if(stdCourse.isPrerequisiteMet){
                    <span class="badge bg-primary px-3 text-white"> YES</span>
                    }@else {
                    <span class="badge bg-warning px-3 text-white"> NO</span>
                    }
                  </td>
                </tr>
              </table>

              @if(!stdCourse.isWaiverApplied && stdCourse.isPrerequisiteMet ){
              <button
                type="button"
                class="btn btn-primary p1-2 text-white px-4"
                (click)="openApplyPreWaiver(stdCourse)"
              >
                Apply
              </button>
              }
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
