.card{
    margin: 10px;
}
#left-pane-container{
    margin-top: 100px; 
    padding: 10px
   
}

p{
    font-family: poppins;
    font-size: 1.2em;    
}
#left-pane-card{
    margin: 5px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    color: black;  
}



@media screen and (max-width: 800px) {
    #left-pane-container{
        margin-top: 0px;
    }
    
}